@tailwind base;
@tailwind components;
@tailwind utilities;

/* Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  --c-primary: #212121;
  --c-secondary: #a7a6a6;
  --c-accent: #87BBA2;
  --c-white: #FFFFFF;
  --c-offwhite: #FAFAFA;
  --c-lightgrey: #B0B0B0;
  --c-darkgrey: #3D3D3D;
  --c-darkblue: #264653;
  --c-bluegreen: #2a9d8f;
  --c-yellow: #e9c46a;
  --c-lightorange: #f4a261;
  --c-orange: #FF9901;
  --c-lightred: #e76f51;

  --bg-primary: #212121;
  --bg-grey: #2a2e35;
  --bg-secondary: #FBFBFB;
  
  --spacer-xxs: 4px;
  --spacer-xs: 8px;
  --spacer-sm: 16px;
  --spacer-base: 24px;
  --spacer-lg: 32px;
  --spacer-xl: 48px;
  --spacer-2xl: 64px;
  --spacer-3xl: 128px;

  --font-header: 'Roboto Condensed', sans-serif;
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Source Sans Pro', sans-serif;

  --font-xxs: 8px;
  --font-xs: 12px;
  --font-tiny: 14px;
  --font-sm: 16px;
  --font-m: 18px;
  --font-base: 20px;
  --font-lg: 24px;
  --font-xl: 28px;
  --font-2xl: 32px;
  --font-3xl: 36px;
  --font-4xl: 40px;
  --font-massive: 48px;
  --font-fucking-massive: 64px;
}