@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;1,600&display=swap');

:root {
  --c-primary: #212121;
  --c-secondary: #a7a6a6;
  --c-accent: #87BBA2;
  --c-white: #FFFFFF;
  --c-darkblue: #264653;
  --c-bluegreen: #2a9d8f;
  --c-yellow: #e9c46a;
  --c-lightorange: #f4a261;
  --c-lightred: #e76f51;

  --bg-primary: #212121;
  --bg-grey: #2a2e35;
  --bg-secondary: #FBFBFB;
  
  --spacer-xxs: 4px;
  --spacer-xs: 8px;
  --spacer-sm: 16px;
  --spacer-base: 24px;
  --spacer-lg: 32px;
  --spacer-xl: 48px;
  --spacer-2xl: 64px;
  --spacer-3xl: 128px;

  --font-primary: 'Lato', sans-serif;
  --font-header: 'Raleway', sans-serif;

  --font-xxs: 8px;
  --font-xs: 12px;
  --font-sm: 16px;
  --font-base: 20px;
  --font-lg: 24px;
  --font-xl: 28px;
  --font-2xl: 32px;
  --font-3xl: 36px;
  --font-4xl: 40px;
  --font-massive: 48px;
  --font-fucking-massive: 64px;
}